* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1em;
    background-color: #343434;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    max-width: 100%;
}

a {
    display: block;
    width: max-content;
    color: #dedede;
    margin-bottom: 1em;
    text-align: center;
    padding: 0.5em 1em;
}

#main-container {
    margin: 0 auto;
    width: 90vw;
    display: grid;
    gap: 0 2em;
}

.placeholder {
    width: 400px;
    height: 300px;
    background: #454545;
}

@media (min-width: 450px) {
    #main-container {
        grid-template-columns: repeat(3, 1fr);
    }
}


.solution-of-the-day {
    text-align: center;
}