* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #232323;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

img {
    max-width: 100%;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #010101;
    margin-bottom: 2em;
}

.grid-img {
    border: 1px solid black;
    height: 10vh;
}

h1 {
    margin: 0;
    background: #232323;
    color: #48BF7D;
    font-size: 2.5rem;
    padding: 1rem;
    border-radius: 8px;
    border: 2px double #48BF7D;
    text-shadow: 2px 2px 2px #010101;
}

a {
    display: block;
    width: max-content;
    color: #dedede;
    margin-bottom: 1em;
    text-align: center;
    padding: 0.5em 1em;
}

#main-container {
    display: grid;
    gap: 0 2em;

}

.placeholder {
    width: 400px;
    height: 300px;
    background: #343434;
    border-radius: 8px;
}

.solution-img {
    width: 100%;
    height: 100%;
}

@media (min-width: 600px) {
    
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .grid-img {
        width: 25vw;
        height: 20vh;
    }

    #main-container {
        grid-template-columns: repeat(3, 1fr);
    }

}