body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: #232323;
    color: #dedede;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    place-items: center;
}

.back-link {
    position: absolute;
    right: 1em;
    top: 1em;
}

.back-link,
.repo-link,
.prev-link,
.next-link {
    background-color: #dedede;
    color: #232323;
    padding: 0.5em 1.5em;
    border-radius: 4px;
}

.screenshot {
    max-width: 100%;
    width: 400px;
    height: 300px;
}

/* rename w/ class name for CSS art */ .class {
    width: 100%;
    max-width: 400px;
    height: 300px;
    background: #F3F3F3; /* this corresponds to the background color for the parent element in your code on CSS battle */
}

/*======== paste your code from CSS battle here ============*/

/* wraps main section */
.wrapper {
    padding: 2em 0;
    margin-top: 25vh;
    background-color: #232323 !important;
    color: #dedede;
    width: 100%;
}

.main {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.screenshot {
    max-width: 450px;
    width: 100%;
    height: 300px;
}

.text {
    margin: 2em 1em;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em !important;
}

.text p {
    line-height: 1.5rem;
}

code {
    background: #343434;
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
}

.repo-link {
    background-color: #dedede;
    color: #232323;
    width: max-content;
}

@media (min-width: 600px) {
    .wrapper {
        width: 70vw;
        border: 1px solid #dedede; /* You may want to change the border color to match your solution */
    }

    .wrapper section {
        flex-direction: row;
        gap: 4em;
    }

    .text {
        margin: 2em auto;
        flex-direction: column !important;
        width: 75%;
    }

    .prev-link {
        position: absolute;
        top: 55%;
        left: 2em;
    }

    .next-link {
        position: absolute;
        top: 55%;
        right: 2em;
    }
}